body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
     /* background-color: linear-gradient(to right, red , yellow); */
     background:linear-gradient(to right, #73e8f7 , #cbe4f7);
}
 .clock-analog{
    width: 40vw;
    height: 40vh;
    margin: 0 auto;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
} 
.clock-face{
    position: relative;
    margin: auto;
    background: url(clockhd.gif);
    height:20vw;
    width: 20vw;
    background-size: cover;
    /* display: flex; */
}

.hand{
    position: absolute;
    background:black;
    border-radius: 10px;
    transform-origin: bottom;
    /* transform-origin: 100%; */
     /* transform: rotate(90deg);  */
    /* transition: all 0.01s; */
    /* transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); */
}

.hour-hand{
    width: 2%;
    height: 27%;
    top: 24%;
    left: 48.5%;
    opacity: 0.8;
}
.min-hand{
    width: 2%;
    height: 33%;
    top: 19%;
    left: 48.5%;
    opacity: 0.8;
}
.sec-hand{
    width: 2%;
    height: 38%;
    top: 14%;
    left: 48.5%;
    opacity: 0.8;
}
.clock-digital{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
/* .clock{
       display: flex;
       /* justify-content: center; */
       /* align-items: center; */
       /* height: 100vh; */
/* } 
.clock-analog{
    flex: 0.5;
}
/* analog 

.hand{
    /* width: 50%; 
    height: 2.2px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    /* transform: rotate(90deg); 
    transition: all 0.01s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hour-hand{
    width: 42%;
    left: 14px;
}
.min-hand{
    width: 46%;
    left: 5px;

}
.sec-hand{
    width: 47%;
    left: 3px;
height: 1px;
}
.clock-digital{
    flex: 0.4
}*/