.authentication-title {
    background-color: #d9d9d9;
}
.reg_form{
    width: 70vw;
    background-image: linear-gradient(to right, #646566 , #c3c4c5);
    padding: 6px 30px;
    /* background-color: #a19d9d; */
    border-radius:14px;

}
.alert{
    display: none;
}
label{
    font-weight: 600;
}
#login_form{
    display: none;
}
.email-data{
    color: #ffffff;
}
.gender_label{
    margin-right: 35px;
}